@import "tailwindcss";

@import "tailwindcss";

/* Enable dark mode via class selector */
@custom-variant dark (&:where(.dark, .dark *));


*{
  font-family: "Poppins", sans-serif;
}

span{
  font-family: inherit;
  font-weight: inherit;
}

.blueShadow{
  box-shadow: 3px 3px 0 0 #587fae;
}

.blueShadow:hover{
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0 0 #587fae;
}